body {
    background-color: rgb(192, 206, 228);
}

button {
    background-color: white;
    border-color: lightgray;
    border-radius: 5px;
    padding: 4px 8px;
}

table {
    width: 60vw;
    border-collapse: collapse;
}

.completedRow {
    background-color: rgb(191, 228, 154);
    color: black;
}

.normalRow {
    background-color: rgb(235, 233, 227);
    color: black;
}
  
td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: center;
    padding-bottom: 10px;
}

th {
    background-color: rgb(143, 180, 213);
}

li {
    text-align: left;
}

